body{
  -ms-overflow-style: hidden;
  scrollbar-width: hidden;
  overflow-y: hidden; 
  overflow-x: hidden;
}


.grid {display: flex; margin:0;}

.column { flex:1; width:0px; height:0px; margin: 0;}

.cell {
    margin:0;
    max-width: 1000px;
    height: 50px;
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 25px 25px 1px;
    width: 100%;
}

button {
     width: 150px; height: 50px; border-style: solid; border-color:black; border-radius: 6px; font-weight: 700;
}

#colorBlack { background-color: black; color: white;} #colorWhite {background-color: white; color:black;} #colorRed {background-color: red; color: black;} #colorBlue {background-color: blue; color: black;} #colorPurple{background-color: purple; color: black;}
#gridSize { display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }

